@font-face {
  font-family: "GraphikLCG-Light";
  src: url("../fonts/GraphikLCG-Light.ttf");
  src: url("../fonts/GraphikLCG-Light.woff");
  src: url("../fonts/GraphikLCG-Light.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GraphikLCG-Regular";
  src: url("../fonts/GraphikLCG-Regular.ttf");
  src: url("../fonts/GraphikLCG-Regular.woff");
  src: url("../fonts/GraphikLCG-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GraphikLCG-Medium";
  src: url("../fonts/GraphikLCG-Medium.ttf");
  src: url("../fonts/GraphikLCG-Medium.woff");
  src: url("../fonts/GraphikLCG-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GraphikLCG-Bold";
  src: url("../fonts/GraphikLCG-Bold.ttf");
  src: url("../fonts/GraphikLCG-Bold.woff");
  src: url("../fonts/GraphikLCG-Bold.woff2");
  font-weight: 600;
  font-style: normal;
}
