// colors
$white: #ffffff;
$darck_blue: #332f84;
$black: #000000;
$light-black: #333333;
$yellow: #e8ca00;
$light-grey: #f2f3f5;

// fonts
$GraphikLCG-Light: "GraphikLCG-Light";
$GraphikLCG-Regular: "GraphikLCG-Regular";
$GraphikLCG-Medium: "GraphikLCG-Medium";
$GraphikLCG-Bold: "GraphikLCG-Bold";
